.widget {
	// margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}


.widget_search {
	.search-form {

		width: 100%;
	}

	label {
		width: 100%;
	}


	.search-field {
		width: 100%;
		font-size: 12px !important;
	}

	.search-submit {
		display: none;
	}

}
