.woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.woocommerce-MyAccount-navigation a {
  display: block;
  text-decoration: none; }
  .woocommerce-MyAccount-navigation a:not(:hover) {
    color: inherit; }

.woocommerce-MyAccount-navigation a::after {
  display: inline-block;
  font-family: "fontawesome";
  content: "\f138";
  float: right;
  width: 1.5rem;
  text-align: center; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--dashboard a::after {
  content: "\f0e4"; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--orders a::after {
  content: "\f291"; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--subscriptions a::after {
  content: "\f021"; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--downloads a::after {
  content: "\f0ed"; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--edit-address a::after {
  content: "\f015"; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--payment-methods a::after {
  content: "\f283"; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--customer-logout a::after {
  content: "\f011"; }

.account-menu-toggle {
  display: none; }

.woocommerce-MyAccount-content {
  min-height: 80vh; }

.large-device.woocommerce-account div.woocommerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.large-device.woocommerce-account .woocommerce-MyAccount-navigation {
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px; }

.large-device.woocommerce-account .woocommerce-MyAccount-content {
  -ms-flex-preferred-size: calc(100% - 250px);
  flex-basis: calc(100% - 250px); }

.small-device.woocommerce-account .woocommerce-MyAccount-navigation,
.medium-device.woocommerce-account .woocommerce-MyAccount-navigation {
  overflow-x: auto;
  white-space: nowrap; }
  .small-device.woocommerce-account .woocommerce-MyAccount-navigation li,
  .medium-device.woocommerce-account .woocommerce-MyAccount-navigation li {
    display: inline-block;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px; }
  .small-device.woocommerce-account .woocommerce-MyAccount-navigation li.is-active,
  .medium-device.woocommerce-account .woocommerce-MyAccount-navigation li.is-active {
    float: left; }
  .small-device.woocommerce-account .woocommerce-MyAccount-navigation li a,
  .medium-device.woocommerce-account .woocommerce-MyAccount-navigation li a {
    white-space: nowrap; }

.woocommerce-PaymentMethods {
  padding: 0;
  margin: 0;
  list-style: none; }
