body.woocommerce-cart .woocommerce-cart-form thead {
  display: none; }

body.woocommerce-cart .woocommerce-cart-form table, body.woocommerce-cart .woocommerce-cart-form tbody, body.woocommerce-cart .woocommerce-cart-form tfoot tr {
  display: block; }

body.woocommerce-cart .woocommerce-cart-form td {
  display: inline-block; }

body.woocommerce-cart .woocommerce-cart-form tr.cart_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

body.woocommerce-cart .woocommerce-cart-form tr.cart_item td {
  padding-right: 10px; }

body.woocommerce-cart .woocommerce-cart-form img {
  width: 100px;
  display: block; }

body.woocommerce-cart .woocommerce-cart-form ul {
  padding: 0;
  margin: 0; }

body.woocommerce-cart .woocommerce-cart-form .product-remove {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  padding: 0 !important; }
  body.woocommerce-cart .woocommerce-cart-form .product-remove a {
    display: block;
    color: transparent;
    padding: 0;
    line-height: 24px; }
  body.woocommerce-cart .woocommerce-cart-form .product-remove a::after {
    font-family: "fontawesome";
    content: "\f057";
    color: rgba(170, 170, 170, 0.65);
    font-size: 24px; }
  body.woocommerce-cart .woocommerce-cart-form .product-remove a:hover::after {
    color: red; }

body.woocommerce-cart .woocommerce-cart-form .product-name {
  font-size: 1.3em; }
  body.woocommerce-cart .woocommerce-cart-form .product-name a:not(:hover) {
    color: inherit; }

body.woocommerce-cart .cart-collaterals h2 {
  margin-top: 0; }

body.woocommerce-cart .cart-collaterals th, body.woocommerce-cart .cart-collaterals td {
  padding-top: .5rem;
  padding-bottom: .5rem; }

body.woocommerce-cart .cart-collaterals td {
  text-align: right; }

body.large-device.woocommerce-cart .woocommerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

body.large-device.woocommerce-cart .woocommerce-cart-form {
  -ms-flex-preferred-size: calc(100% - 300px);
  flex-basis: calc(100% - 300px); }

body.large-device.woocommerce-cart .cart-collaterals {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }
  body.large-device.woocommerce-cart .cart-collaterals .checkout-button {
    width: 100%; }
