.fl-builder .content-area .fl-row-content-wrap,
.fl-builder .content-area {
  padding: 0 !important; }

.fl-theme-builder-header .site-header {
  padding: 0 !important; }

.fl-builder:not(.lsbr):not(.rsbr) .site-content .site-content-wrap {
  max-width: none; }

.fl-builder-edit .site-header {
  position: relative !important; }
